::root {
  --mainDark: #222;
}

body{
  background-color: var(--mainDark);
}

.f{
  display: flex;
}
.fc{
  flex-direction: column;
}

.ac{
  align-items: center;
}
.js{
  justify-content: center;
}

.textBox{
  width: 35px;
  height: 35px;
  background-color: tan;
  margin: 2px;
  border-radius: 4px;
  flex: none;
  color: white;
}

.os{
  overflow-x: scroll;
}

.MuiButtonBase-root {
  margin-left: 20px !important;
  margin-right: 20px !important;

  height: 40px !important
}

.MuiSelect-select{
  min-width: 60px !important;
}
